.results {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  >.results-div {
    width: 100%;
    height: 100px;
  }
  >.results-title {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    padding-bottom: 25px;
  }
  >.results-text {
    font-size: 14px;
    color: #000000;
    text-align: center;
    padding-bottom: 35px;
  }
  >.results-table {
    width: 802px;
    margin: 0 auto;
    font-size: 12px;
    border: 1px solid #878787;
    overflow: hidden;
    >.results-table-tables td{
      border: 1px solid #878787;
      padding: 12px 0;
      overflow: hidden;
      text-align: center;
      font-size: 12px;
    }
    >.status-left-right {
      width: 804px;
      border-left: 1px solid #878787;
      border-right: 1px solid #878787;
      padding: 12px 0;
      font-size: 12px;
    }
  }
}