.wrap {
    box-sizing: border-box;
    padding: 0 100px;
    width: 100%;
    position: relative;
    .titles {
        margin-left: 250px;
        margin-top: 30px;
    }
    .pross {
        width: 100%;
        margin-top: 100px;
    }
}
.box {
    width: 100%;
    margin-top: 100px;
    position: relative;
    .item {
        width: 350px;
        height: 200px;
        border: 1px solid #000;
        text-align: center;
        line-height: 50px;
        padding: 50px 0;
        margin-left: 300px;
        position: absolute;
        left: 0;
        top: 0;
        .btn {
            margin-left: 100px;
            margin-top: 40px;
        }
    }
    .item1 {
        left: 600px;
        top: 0;
    }
}