.table {
  width: 650px;
  margin: 30px auto; }
  .table .title {
    height: 40px;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    padding: 10px 0; }
    .table .title div {
      display: inline-block; }
    .table .title .one {
      margin-right: 60px; }
      .table .title .one .hr {
        border-bottom: 1px solid #000;
        width: 100px;
        display: inline-block; }
    .table .title .two {
      width: 150px;
      height: 50px;
      border: 1px solid #000;
      float: right;
      margin-top: -40px; }
  .table .h3 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .table .th {
    height: 130px;
    border: 1px solid #000;
    position: relative;
    border-bottom: none; }
    .table .th .td-one {
      width: 27px;
      border-right: 1px solid #000;
      height: 130px;
      text-align: center;
      padding-top: 30px; }
    .table .th .top {
      width: 95.3%;
      height: 30px;
      border-bottom: 1px solid #000;
      position: absolute;
      top: 0px;
      left: 30px; }
      .table .th .top div {
        float: left; }
      .table .th .top .name {
        width: 120px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #000; }
      .table .th .top .name-detail {
        text-align: left;
        line-height: 30px;
        width: 450px;
        box-sizing: border-box;
        padding-left: 5px; }
    .table .th .bottom {
      width: 95.3%;
      height: 100px;
      position: absolute;
      top: 30px;
      left: 30px; }
      .table .th .bottom div {
        float: left; }
      .table .th .bottom .name {
        width: 120px;
        line-height: 100px;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #000; }
      .table .th .bottom .name-detail {
        text-align: left;
        line-height: 20px;
        width: 495px;
        box-sizing: border-box;
        padding: 5px 10px; }
        .table .th .bottom .name-detail div {
          float: left;
          margin-right: 10px; }
  .table .th1 {
    height: 80px;
    border: 1px solid #000;
    position: relative;
    border-bottom: none; }
    .table .th1 div {
      float: left; }
    .table .th1 .td-one {
      width: 27px;
      border-right: 1px solid #000;
      height: 80px;
      text-align: center; }
    .table .th1 .name {
      height: 80px;
      width: 122px;
      border-right: 1px solid #000;
      font-size: 14px; }
      .table .th1 .name .top {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #000;
        text-align: center;
        line-height: 40px; }
      .table .th1 .name .bottom {
        width: 100%;
        height: 40px;
        text-align: center;
        line-height: 40px; }
    .table .th1 .category {
      height: 80px;
      width: 70px;
      border-right: 1px solid #000; }
      .table .th1 .category .top {
        width: 70px;
        height: 40px;
        border-bottom: 1px solid #000;
        text-align: center;
        line-height: 40px;
        word-wrap: break-word; }
      .table .th1 .category .bottom {
        width: 70px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        word-wrap: break-word; }
      .table .th1 .category .br {
        line-height: 20px; }
  .table .th2 {
    height: 200px;
    border: 1px solid #000;
    position: relative;
    border-bottom: none; }
    .table .th2 div {
      float: left; }
    .table .th2 .td-one {
      width: 28px;
      border-right: 1px solid #000;
      height: 200px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 40px; }
    .table .th2 .name {
      height: 30px;
      width: 95.6%;
      border-bottom: 1px solid #000;
      font-size: 14px;
      line-height: 30px; }
      .table .th2 .name .top {
        width: 122px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table .th2 .name .top1 {
        width: 180px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table .th2 .name .top2 {
        width: 190px;
        height: 30px;
        text-align: center;
        line-height: 30px; }
    .table .th2 .nature-box {
      width: 95.6%;
      height: 30px;
      border-bottom: 1px solid #000; }
      .table .th2 .nature-box div {
        float: left; }
      .table .th2 .nature-box .nature {
        width: 122px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #000; }
      .table .th2 .nature-box .nature-detail {
        text-align: center;
        line-height: 25px;
        width: 458px;
        box-sizing: border-box;
        padding: 5px 10px; }
        .table .th2 .nature-box .nature-detail div {
          float: left;
          margin-right: 10px; }
    .table .th2 .status-box {
      width: 95.6%;
      height: 76px;
      border-bottom: 1px solid #000; }
      .table .th2 .status-box div {
        float: left; }
      .table .th2 .status-box .status {
        width: 122px;
        line-height: 80px;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #000; }
      .table .th2 .status-box .status-detail {
        text-align: center;
        width: 458px; }
        .table .th2 .status-box .status-detail .tops {
          height: 20px;
          margin-left: 30px;
          margin-top: 15px; }
          .table .th2 .status-box .status-detail .tops input {
            margin-top: -30px; }
        .table .th2 .status-box .status-detail .titles {
          width: 496px;
          height: 40px;
          box-sizing: border-box;
          padding-left: 5px;
          margin-top: 10px; }
          .table .th2 .status-box .status-detail .titles div {
            display: inline-block; }
          .table .th2 .status-box .status-detail .titles .n {
            width: 200px;
            text-align: left; }
          .table .th2 .status-box .status-detail .titles .n1 {
            width: 280px;
            text-align: left; }
    .table .th2 .names {
      height: 30px;
      width: 95.6%;
      font-size: 14px;
      line-height: 30px; }
      .table .th2 .names .top {
        width: 122px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table .th2 .names .top1 {
        width: 150px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table .th2 .names .top2 {
        width: 160px;
        height: 30px;
        text-align: center;
        line-height: 30px; }
      .table .th2 .names .top3 {
        width: 180px;
        border-right: 1px solid #000;
        text-align: center; }
  .table .th3 {
    height: 180px;
    border: 1px solid #000;
    position: relative;
    border-bottom: none; }
    .table .th3 div {
      float: left; }
    .table .th3 .td-one {
      width: 28px;
      border-right: 1px solid #000;
      height: 180px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 30px; }
    .table .th3 .name {
      height: 30px;
      width: 95.6%;
      border-bottom: 1px solid #000;
      font-size: 14px;
      line-height: 30px; }
      .table .th3 .name .top {
        width: 122px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table .th3 .name .top1 {
        width: 230px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px;
        box-sizing: border-box;
        padding: 5px 10px; }
        .table .th3 .name .top1 div {
          float: left;
          margin-right: 10px; }
      .table .th3 .name .top2 {
        width: 150px;
        height: 30px;
        text-align: center;
        line-height: 30px; }
    .table .th3 .nature-box {
      width: 95.6%;
      height: 30px;
      border-bottom: 1px solid #000; }
      .table .th3 .nature-box div {
        float: left; }
      .table .th3 .nature-box .nature {
        width: 122px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #000; }
      .table .th3 .nature-box .nature-detail {
        text-align: center;
        line-height: 30px;
        width: 458px;
        box-sizing: border-box;
        padding: 5px 10px; }
        .table .th3 .nature-box .nature-detail div {
          float: left;
          margin-right: 10px; }
    .table .th3 .status-box {
      width: 95.6%;
      height: 118px; }
      .table .th3 .status-box div {
        float: left; }
      .table .th3 .status-box .status {
        width: 122px;
        line-height: 118px;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #000; }
      .table .th3 .status-box .status-detail {
        text-align: left;
        width: 458px;
        box-sizing: border-box;
        padding: 5px 10px; }
        .table .th3 .status-box .status-detail .box {
          width: 100%;
          margin-right: 10px;
          margin-top: 10px; }
          .table .th3 .status-box .status-detail .box div {
            margin-right: 10px; }
    .table .th3 .names {
      height: 30px;
      width: 95.6%;
      font-size: 14px;
      line-height: 30px; }
      .table .th3 .names .top {
        width: 122px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table .th3 .names .top1 {
        width: 150px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table .th3 .names .top2 {
        width: 160px;
        height: 30px;
        text-align: center;
        line-height: 30px; }
      .table .th3 .names .top3 {
        width: 180px;
        border-right: 1px solid #000;
        text-align: center; }
  .table .th4 {
    height: 30px;
    border: 1px solid #000;
    border-bottom: none; }
    .table .th4 div {
      float: left; }
    .table .th4 .name {
      width: 150px;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      border-right: 1px solid #000; }
    .table .th4 .name-detail {
      text-align: center;
      line-height: 30px;
      width: 450px; }
  .table .th5 {
    height: 60px;
    border: 1px solid #000; }
    .table .th5 div {
      float: left; }
    .table .th5 .name {
      width: 150px;
      line-height: 60px;
      text-align: center;
      font-size: 14px;
      border-right: 1px solid #000; }
    .table .th5 .category {
      height: 60px;
      width: 123px;
      border-right: 1px solid #000; }
      .table .th5 .category .top {
        width: 123px;
        height: 30px;
        border-bottom: 1px solid #000;
        text-align: center;
        line-height: 30px;
        word-wrap: break-word; }
      .table .th5 .category .bottom {
        width: 123px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        word-wrap: break-word; }
      .table .th5 .category .br {
        line-height: 20px; }

.ye {
  text-align: center;
  margin-bottom: 30px; }

.table1 {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 30px; }
  .table1 .th6 {
    height: 30px;
    border: 1px solid #000;
    border-bottom: none; }
    .table1 .th6 div {
      float: left; }
    .table1 .th6 .name {
      width: 150px;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      border-right: 1px solid #000; }
    .table1 .th6 .name-detail {
      text-align: center;
      line-height: 30px;
      width: 450px; }
  .table1 .th3 {
    height: 62px;
    border: 1px solid #000;
    position: relative;
    border-bottom: none; }
    .table1 .th3 div {
      float: left; }
    .table1 .th3 .td-one {
      width: 28px;
      border-right: 1px solid #000;
      height: 62px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 3px; }
    .table1 .th3 .name {
      height: 30px;
      width: 95.6%;
      border-bottom: 1px solid #000;
      font-size: 14px;
      line-height: 30px; }
      .table1 .th3 .name .top {
        width: 122px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table1 .th3 .name .top1 {
        width: 200px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table1 .th3 .name .top2 {
        width: 170px;
        height: 30px;
        text-align: center;
        line-height: 30px; }
  .table1 .th4 {
    height: 102px;
    border: 1px solid #000;
    position: relative;
    border-bottom: none; }
    .table1 .th4 div {
      float: left; }
    .table1 .th4 .zi {
      height: 40px;
      width: 95.6%;
      border-bottom: 1px solid #000;
      box-sizing: border-box;
      padding: 5px 10px; }
    .table1 .th4 .td-one {
      width: 28px;
      border-right: 1px solid #000;
      height: 102px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 20px; }
    .table1 .th4 .name {
      height: 30px;
      width: 95.6%;
      border-bottom: 1px solid #000;
      font-size: 14px;
      line-height: 30px; }
      .table1 .th4 .name .top {
        width: 122px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table1 .th4 .name .top1 {
        width: 200px;
        height: 30px;
        border-right: 1px solid #000;
        text-align: center;
        line-height: 30px; }
      .table1 .th4 .name .top2 {
        width: 170px;
        height: 30px;
        text-align: center;
        line-height: 30px; }
  .table1 .th2 {
    height: 185px;
    border: 1px solid #000;
    position: relative;
    border-bottom: none; }
    .table1 .th2 div {
      float: left; }
    .table1 .th2 .td-one {
      width: 28px;
      border-right: 1px solid #000;
      height: 185px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 30px; }
    .table1 .th2 .nature-box {
      width: 95.6%;
      height: 30px;
      border-bottom: 1px solid #000; }
      .table1 .th2 .nature-box div {
        float: left; }
      .table1 .th2 .nature-box .nature {
        width: 200px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #000; }
      .table1 .th2 .nature-box .nature-detail {
        text-align: center;
        line-height: 30px;
        width: 416px; }
  .table1 .signature {
    height: 150px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 10px 10px;
    position: relative; }
    .table1 .signature .zhu {
      position: absolute;
      right: 150px;
      bottom: 40px; }
    .table1 .signature .data {
      position: absolute;
      right: 20px;
      bottom: 10px; }

/*# sourceMappingURL=ApplicationFormOupsMater.css.map */
