.work {
    margin-bottom: 30px;
    position: relative;
    span {
        color: #f00;
        font-size: 20px;
        font-weight: bold;
    }
    label {
        font-size: 18px;
    }
    .up {
        margin-top: -30px;
        margin-left: 140px;
    }
    .xi {
        margin-top: -30px;
        margin-left: 140px;
        span {
            display: inline;
            color: #000;
            font-size: 14px;
            font-weight: normal;
            
        }
        .adds {
            margin-top: 20px;
        }
        .item {
            margin-top: 10px;
        }
        .xis {
            margin-top: -25px;
            margin-left: 60px;
        }
        .uplod {
            margin-top: -35px;      
            .el-upload-list{
                margin-left: 306px;
            }
        }
    }
}

.hd-button.next {
    margin-left: 140px;
}