* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑", Verdana, Arial, Helvetica;
  background-color: #fff;
}

td,
th,
caption {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #555;
  text-decoration: none;
}

/*a:hover { text-decoration:underline; }*/
img {
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, sans-serif;
}

input, textarea {
  outline: none;
}

table {
  border-collapse: collapse;
}

html {
  overflow-y: scroll;
}

ul,
li {
  list-style: none;
}

.clearfix {
  clear: both;
  zoom: 1;
}

.clearfix:after {
  content: ' ';
  height: 0;
  display: block;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

#msgPopBox {
  z-index: 99999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;

  >#msgBox {
    padding: 20px;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    z-index: 99999;
    >span {
      width: 100%;
      line-height: 30px;
      font-size: 14px;
      color: #ffffff;
    }
  }
}