.oups-submit {
  > .w1000 {
    width: 1000px;
    margin: 0 auto;
    > .buttons {
      width: 500px;
      margin: 50px auto 0;
      > div {
        width: 140px;
        height: 40px;
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        box-sizing: border-box;
      }
      > .prev {
        float: left;
        border: 1px solid #c7c7c7;
      }
      > .next {
        float: right;
        color: #fff;
        background-color: #169bd5;
      }
    }
  }
}